.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}

.icon-logo {
  width: 48px;
  height: 48px;
  background-position: 0 0;
}

.icon-etsy {
  width: 24px;
  height: 28px;
  background-position: 0 -48px;
}

.icon-twitter {
  width: 32px;
  height: 32px;
  background-position: 0 -92px;
}

.cell {
  float: left;
  margin-right: 1.5em;
  margin-bottom: .25em;
  width: 17em;
  overflow: hidden;
}

.cell span {
  margin-right: .25em;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.fs1 {
  font-size: 32px;
}

.fs2 {
  font-size: 28px;
}

.fs3 {
  font-size: 32px;
}

.mhl {
  margin-left: 1.5em;
  margin-right: 1.5em;
}