<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Custom Cat Pillows.</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href='css/sprite.css' rel='stylesheet' , type='text/css'>
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <script src="https://js.stripe.com/v3"></script>

  <!-- Custom styles for this template -->
  <link href="css/agency.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Custom Cat Pillows.</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#order_now">Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in outline">Kittens deserve pillows.</div>
        <div class="intro-heading text-uppercase outline">{{ VET_NAME }} deserves to show off.</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#products">Tell Me More</a>
      </div>
    </div>
  </header>

  <!-- Services -->
  <section class="page-section" id="products">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Products</h2>
          <h3 class="section-subheading text-muted">Your logo, happy cats.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">50 for $100</h4>
          <p class="text-muted">Fifty high quality pillows, custom printed with your logo, packed with high quality catnip, just for your cat patients. Only $100, includes free shipping.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">100 for $180</h4>
          <p class="text-muted">100 high quality pillows, custom printed with your logo, packed with high quality catnip, just for your cat patients. Only $180, includes free shipping.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">And more!</h4>
          <p class="text-muted">Need more? Need less? Contact us and we'll work something out for you!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio Grid -->
  <section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Happy Cat Customers</h2>
          <h3 class="section-subheading text-muted">Our cat pillows make cats and kittens go wild.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <img class="img-fluid" src="img/portfolio/cat1_thumb.jpg" alt="">
          <div class="portfolio-caption">
            <h4>Daryl</h4>
            <p class="text-muted">😍</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <img class="img-fluid" src="img/portfolio/cat2_thumb.jpg" alt="">
          <div class="portfolio-caption">
            <h4>Moody</h4>
            <p class="text-muted">😻</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <img class="img-fluid" src="img/portfolio/cat3_thumb.jpg" alt="">
          <div class="portfolio-caption">
            <h4>Indigo</h4>
            <p class="text-muted">Meow!</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <img class="img-fluid" src="img/portfolio/cat4_thumb.jpg" alt="">
          <div class="portfolio-caption">
            <h4>Idgi</h4>
            <p class="text-muted">❤️❤️</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <img class="img-fluid" src="img/portfolio/cat5_thumb.jpg" alt="">
          <div class="portfolio-caption">
            <h4>Blake</h4>
            <p class="text-muted">🎶 Purrrfect 🎶</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <img class="img-fluid" src="img/portfolio/cat6_thumb.jpg" alt="">
          <div class="portfolio-caption">
            <h4>Bindy</h4>
            <p class="text-muted">⭐⭐⭐⭐⭐</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Buy -->
  <section class="page-section text-center" id="order_now">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Order Now</h2>
          <h3 class="section-subheading text-muted">Made upon order, delivered fast.</h3>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-6'>
          <img src="img/thumbs/{{ 50 IMG }}">
        </div>
        <div class='col-lg-6'>
          <img src="img/thumbs/{{ 100 IMG }}">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <button style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em" id="{{ 50 STRIPE }}" role="link">
          Purchase 50 pillows.
          </button>
        </div>
        <div class='col-lg-6'>
          <button style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em" id="{{ 100 STRIPE }}" role="link">
            Purchase 100 pillows.
          </button>
        </div>
      </div>
      <div class='row text-center mt-4'>
        <h3>
          Need more? Contact us below for customized amounts and pricing!
        </h3>
      </div>
    </div>
  </section>

  <!-- Contact -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Contact Us</h2>
          <h3 class="section-subheading">We'll work with you to make the best pillows for you and your patients.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form id="contactForm" name="{{ FORM NAME }}" novalidate="novalidate" data-netlify="true" method='POST'>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" name='name' id="name" type="text" placeholder="Your Name *" required="required" data-validation-required-message="Please enter your name.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" name='email' id="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" name='phone' id="phone" type="tel" placeholder="Your Phone" data-validation-required-message="Please enter your phone number.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea class="form-control" name='message' message='message' id="message" placeholder="Your Message *" required="required" data-validation-required-message="Please enter a message."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <span class="copyright">Copyright &copy; WorldsProject LLC</span>
        </div>
        <div class="col-1 list-inline-item clearfix mhl cell fs1">
          <a href='https://etsy.com/shop/worldsproject'><span class="icon icon-etsy" style="color: #808080;"></span></a>
        </div>
        <div class='col-1 list-inline-item clearfix mhl cell fs2'>
          <a href="https://worldsproject.org"><span class="icon icon-logo"></span></a>
        </div>
        <div class='col-1 list-inline-item clearfix mhl cell fs1'>
          <a href="https://twitter.com/worldsproject"><span class="icon icon-twitter"></span></a>
        </div>
        <div class="col-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="https://app.termly.io/document/privacy-policy/fdb55f18-23f1-4199-b458-c8e0ec02f16a">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/agency.min.js"></script>

</body>

<div id="error-message"></div>

<script>
  var stripe = Stripe('{{ STRIPE KEY }}');

  var checkout_fifty = document.getElementById('{{ 50 STRIPE }}');
  checkout_fifty.addEventListener('click', function() {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
        items: [{
          sku: '{{ 50 STRIPE SKU }}',
          quantity: 1
        }],

        // Do not rely on the redirect to the successUrl for fulfilling
        // purchases, customers may not always reach the success_url after
        // a successful payment.
        // Instead use one of the strategies described in
        // https://stripe.com/docs/payments/checkout/fulfillment
        successUrl: window.location.protocol + '//www.worldsproject.org/success',
        cancelUrl: window.location.protocol + '//www.worldsproject.org/canceled',
      })
      .then(function(result) {
        if (result.error) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, display the localized error message to your customer.
          var displayError = document.getElementById('error-message');
          displayError.textContent = result.error.message;
        }
      });
  });

  var checkout_hundred = document.getElementById('{{ 100 STRIPE }}');
  checkout_hundred.addEventListener('click', function() {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
        items: [{
          sku: '{{ 100 STRIPE SKU }}',
          quantity: 1
        }],

        // Do not rely on the redirect to the successUrl for fulfilling
        // purchases, customers may not always reach the success_url after
        // a successful payment.
        // Instead use one of the strategies described in
        // https://stripe.com/docs/payments/checkout/fulfillment
        successUrl: window.location.protocol + '//www.worldsproject.org/success',
        cancelUrl: window.location.protocol + '//www.worldsproject.org/canceled',
      })
      .then(function(result) {
        if (result.error) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, display the localized error message to your customer.
          var displayError = document.getElementById('error-message');
          displayError.textContent = result.error.message;
        }
      });
  });
</script>

</html>
